#clockContainer{
    position: relative; 
    margin: auto;
    height: 40vw;
    width: 40vw;
     
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

 

#hour, #minute, #second{
    position: absolute;
    background: rgb(12, 12, 12);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 2%;
    height: 28%;
    top: 22.2%;
    left: 48.8%;
    opacity: 0.8;
    
}

#minute{
    width: 1.5%;
    height: 32%;
    top: 18%;
    left: 49.1%;
    opacity: 0.8;
     
     
}

#second{
    width: 1%;
    height: 35%;
    top: 15%;
    left: 49.3%;
    opacity: 0.8;
    
    
}

 